/* Reset default margin and padding */
body, h1, p {
  margin: 0;
  padding: 0;
}

/* Set font styles */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;

}

/* Style the header */
header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

/* Style the navigation menu */
nav {
  background-color: #000000;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0%;
  
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 10px;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  padding: 5px;
}

nav a:hover {
  background-color: #333;
  color: #fff;
  text-decoration: underline;
}

/* Style the main content */
section {
  padding: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  margin-bottom: 15px;
}

/* Style the footer */
footer {
  background-color: #000000;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
}
.logo {
    width: 60px;
    height: 44px;
    margin-right: 10px;
  }

.logo:hover {
    width: 70px;
    height: 52px;
  }
  

ul li {
    display: inline-block;
    color: #fff;
  }
  
ul li a {
    text-decoration: none;
    margin-left: 10px; /* Optional: Add some spacing between navigation items */
  }

  .image-container {
    position: relative;
  }


  .container {
    max-width: 100%;
    position: relative;
  }
  
  .image {
    width: 100%;
    height: auto;
    object-fit: fill;
    
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  h2 {
    color: white;
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
  }
  .responsive-image1 {
    width: 100%;
    height: auto;
    margin: 0;
    position: relative;
    z-index: 1;
  }
  
  .responsive-image2 {
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  z-index: 2;
  height: 200px;
  }
  .nav-link:hover {
  text-decoration: underline;
  }
  
.responsive-image3 {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  z-index: 2;
  height: 200px;
  }
    
.textIMG {
  position: absolute ;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  height: 200px;
  color: #ffffff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }


  .form-container {
    margin-top: 20px;
    margin-bottom: 20px;
  }